{{> head}}

{{> navbar}}

<div class="row">

  <div class="col-8">
    <h1>Cápitan América</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos doloribus nisi, vero inventore commodi quod dicta
      perspiciatis ullam laudantium, error, maxime totam est. Eveniet alias aperiam minima, cumque consectetur aut
      quaerat rerum itaque unde deserunt voluptatem nam! Totam voluptas iure, tenetur quibusdam numquam facere sequi,
      iste, exercitationem ipsam voluptatem dolorem!
    </p>
  </div>

  <div class="col-4">
    <img src="assets/img/capitan-america.png" class="img-thumbnail">
  </div>

</div>

{{> footer}}